@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
    fonts:
    - Major Mono Display
    - Maven Pro
    - Poppins
    - Roboto
 */

:root{
    --red: #ff4040;
    --white: #fff;
    --blue: #7eb7ec;
    --gray-bg: #121314;

    --btn-color: #736CED;
    --bg-gray: #111821;
    --main-green: #73C6B6;
    --tan: #E4D6A7;
    --off-gray: #8390A5;
    --light-gray: #D5DBDB;
    --text-color: #fff;
    --static-bg-url: url('https://ablyv-dev.azurewebsites.net/static/images/noise-light.png');
}

[data-theme="light"]{
    --bg-color: #fff;
    --text-color: #000;
}

[data-theme="dark"]{
    --bg-color: #121314;
    --text-color: #fff;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.info-link{
    font-family:'Roboto', sans-serif;
    color: var(--red);
    font-size: 0.9rem;
    background-color: rgba(255, 64, 64, 0.15);
    padding: 8px;
    border-radius: 80px;
    border: 1px solid var(--red);
    transition: 0.3s;
    cursor: pointer;
}
.info-link:hover{
    padding-right: 16px;
    background-color: rgba(255, 64, 64, 0.2);
}
.info-link:hover > .fa-arrow-right{
    animation: arrowHoverAnim 0.3s forwards ease-in-out;
}

a.filled{
    padding: 16px 40px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border-radius: 0.3rem;
    background-color: var(--blue);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

a.filled:hover{
    cursor: pointer;
    filter: hue-rotate(10deg);
}

.text-container{
    font-family: 'Reddit Mono', sans-serif;
    width: 50vw;
    margin-left: 25vw;

    & h1{
        color: var(--red);
        font-family: 'DM Sans', sans-serif;
    }

    & p{
        border-left: 1px solid var(--red);
        padding-left: 10px;
        font-family: 'Poppins', sans-serif;
    }

    & a{
        color: dodgerblue;
        text-decoration: none;
    }

    & ul{
        & li{
            margin-bottom: 10px;
        }
    }
}

.initial::first-letter{
    initial-letter: 2;
    margin: 0 5px 5px 0;
    font-weight: 600;
    font-style: italic;
}

table{
    width: 50vw;
}

table, tr, td{
    border-collapse: collapse;
    border: 2px solid #333;
}

td{
    padding: 7px;
}

td:nth-child(odd){
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

tr:nth-child(even){
    background-color: #2A2B2C;
}

.title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--light-gray);
    letter-spacing: 1px;
}

hr{
    margin: 40px auto;
    width: 60vw;
}

.subheading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--light-gray);
    font-size: 16px;
}

/* ANIMATIONS */


@keyframes arrowHoverAnim{
    100%{
        transform: translateX(10px);
    }
}